/* ===== Global styles ===== */

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: brightness(1) invert(0);
  cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(1) invert(0);
  cursor: pointer;

}